## Model Inference

### Importing Libraries

In [1]:
import pandas as pd
import dill

### Model Loading

In [2]:
# encode map kolom binary menjadi 0 dan 1
def binary_mapping(X):
    """
        Fungsi ini berguna untuk map kolom binary 'cb_person_default_on_file', yang value nya string menjadi 1 dan 0
    Args:
        X (dataframe): dataframe yang value dari kolom 'cb_person_default_on_file' nya akan diencode menjadi 1 dan 0
    Returns:
        dataframe: dataframe yang value kolom 'cb_person_default_on_file' sudah terencode menjadi 1 dan 0
    """
    X = X.copy()
    X['cb_person_default_on_file'] = X['cb_person_default_on_file'].map({'Y': 1, 'N': 0}).fillna(0)
    return X

In [3]:
# Load hasi model saving
with open('dtc_best.pkl', 'rb') as file:
    dtc_best = dill.load(file)

### Data Loading

In [4]:
# Buat data inference
df_inf = {
    'person_age': 66,	
    'person_income': 42000,	
    'person_home_ownership': 'RENT',	
    'person_emp_length': 2.00,	
    'loan_intent': 'MEDICAL',
    'loan_grade': 'B',
    'loan_amnt': 6475,	
    'loan_int_rate': 9.99,	
    'loan_percent_income': 0.15,	
    'cb_person_default_on_file': 'N',
    'cb_person_cred_hist_length': 30, 
}
# buat data inference ke dataframe
df_inf2 = pd.DataFrame([df_inf])
df_inf2

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0.15,N,30

### Model Inferencing

In [5]:
# lakukan prediksi menggunakan model
y_pred = dtc_best.predict(df_inf2)
y_pred

array([0])

> Dari data pengguna ini, diprediksi pengguna tidak akan default.